[submodule "first-homework-BurakTy"]
	path = first-homework-BurakTy
	url = https://github.com/n11-TalentHub-Java-Bootcamp/first-homework-BurakTy.git
[submodule "second-homework-BurakTy"]
	path = second-homework-BurakTy
	url = https://github.com/n11-TalentHub-Java-Bootcamp/second-homework-BurakTy.git
