[submodule "first-homework-BurakTy"]
	path = first-homework-BurakTy
	url = https://github.com/n11-TalentHub-Java-Bootcamp/first-homework-BurakTy.git
[submodule "second-homework-BurakTy"]
	path = second-homework-BurakTy
	url = https://github.com/n11-TalentHub-Java-Bootcamp/second-homework-BurakTy.git
[submodule "third-homework-BurakTy"]
	path = third-homework-BurakTy
	url = https://github.com/n11-TalentHub-Java-Bootcamp/third-homework-BurakTy.git
[submodule "fourth-homework-BurakTy"]
	path = fourth-homework-BurakTy
	url = https://github.com/BurakTy/n11-bootcamp-homeworks/fourth-homework-BurakTy.git
